
*.txt
*.mat
*.fig
*.pdf
*.png
*.jpg
*.md
*.css
*.tex
*.svg
*.bib
*.js
*.yml
*.html
*.sln
refinenet-master/libs/matconvnet/Makefile
*.filters
*.pbxproj
*.xcscheme
*.hpp
*.cpp
*.cu
*.h
*.xml
*.sh
*.diff
*.proto
